<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostMapper">

    <select id="findAll" resultType="Post">
        SELECT
            id,
            title,
            author,
            contents,
            viewCount,
            regDate
        FROM tb_board where is_deleted = 0
        ORDER BY id DESC
    </select>

    <select id="findOne" resultType="Post">
        SELECT
            id,
            title,
            author,
            contents,
            viewCount,
            regDate
        FROM tb_board
        WHERE id = #{id} and is_deleted = 0
    </select>

    <insert id="save" parameterType="Post">
        INSERT INTO tb_board (
            title,
            author,
            contents,
            viewCount,
            regDate
        ) VALUES (
            #{title},
            #{author},
            #{contents},
            #{viewCount},
            NOW()
        )
    </insert>

    <update id="modify" parameterType="Post">
        UPDATE tb_board SET
            title = #{title},
            contents = #{contents}
        WHERE id = #{id} and is_deleted = 0
    </update>

    <update id="delete" parameterType="int">
        UPDATE tb_board SET is_deleted = 1 WHERE id = #{id}
    </update>
</mapper>